<a href="https://colab.research.google.com/github/jonasgplacinsch/trabalhos-faculdade/blob/main/Ativ_prod_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introdução a Programação em Ciência de Dados
Atividade de produção

Jonas Placinsch
202210728

a) apresente as informações sobre quais foram as notas dos alunos em cada questão;

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("/content/drive/MyDrive/arquivoCVSparatrabalho.csv")
colunas_calculo = df.columns[2:18]

df.insert(0, 'Aluno', [f'Aluno {i}' for i in range(1, 125)])

b) acrescente uma coluna com a nota de cada aluno, que é a soma das notas das questões;

In [ ]:
df['Total'] = df[colunas_calculo].sum(axis = 1)

,Aluno,Questao 1,Questao 2,Questao 3,Questao 4,Questao 5,Questao 6,Questao 7,Questao 8,Questao 9,...,Questao 11,Questao 12,Questao 13,Questao 14,Questao 15,Questao 16,Questao 17,Total,Variancia,Desvio_Padrao
0,Aluno 1,0.50,0.75,0.55,0.75,0.50,0.50,1.0,0.50,0.50,...,0.25,0.15,0.40,0.30,0.1,0.00,0.40,6.40,0.063524,0.252039
1,Aluno 2,0.40,0.70,0.70,1.00,0.45,0.45,1.0,0.45,0.45,...,0.46,0.50,0.30,0.50,0.5,0.50,0.50,8.21,0.040035,0.200088
2,Aluno 3,0.30,0.65,0.75,0.80,0.40,0.40,0.9,0.40,0.40,...,0.44,0.40,0.40,0.45,0.4,0.45,0.40,7.39,0.029307,0.171192
3,Aluno 4,0.20,0.60,0.70,0.90,0.45,0.40,0.8,0.50,0.45,...,0.45,0.45,0.45,0.50,0.3,0.40,0.45,7.70,0.025881,0.160876
4,Aluno 5,0.45,0.45,0.75,0.85,0.50,0.50,0.7,0.45,0.50,...,0.50,0.40,0.50,0.50,0.2,0.30,0.50,7.60,0.026381,0.162422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Aluno 120,0.40,0.70,0.70,1.00,0.45,0.45,1.0,0.45,0.45,...,0.46,0.50,0.30,0.50,0.5,0.50,0.50,8.21,0.040035,0.200088
120,Aluno 121,0.30,0.65,0.75,0.80,0.40,0.40,0.9,0.40,0.40,...,0.44,0.40,0.40,0.45,0.4,0.45,0.40,7.39,0.029307,0.171192
121,Aluno 122,0.20,0.60,0.70,0.90,0.45,0.40,0.8,0.50,0.45,...,0.45,0.45,0.45,0.50,0.3,0.40,0.45,7.70,0.025881,0.160876
122,Aluno 123,0.45,0.45,0.75,0.85,0.50,0.50,0.7,0.45,0.50,...,0.50,0.40,0.50,0.50,0.2,0.30,0.50,7.60,0.026381,0.162422
123,Aluno 124,0.50,0.75,0.55,0.75,0.50,0.50,1.0,0.50,0.50,...,0.25,0.15,0.40,0.30,0.1,0.00,0.40,6.40,0.063524,0.252039

c) e apresente o quanto os dados estão dispersos com relação. À nota de cada aluno, facilitando, assim, a análise dos dados (considerar o desvio padrão e a variância).

In [ ]:
df['Variancia'] = df[colunas_calculo].var(axis=1)
df['Desvio_Padrao'] = df[colunas_calculo].std(axis=1)

display(df)

,Aluno,Questao 1,Questao 2,Questao 3,Questao 4,Questao 5,Questao 6,Questao 7,Questao 8,Questao 9,...,Questao 11,Questao 12,Questao 13,Questao 14,Questao 15,Questao 16,Questao 17,Total,Variancia,Desvio_Padrao
0,Aluno 1,0.50,0.75,0.55,0.75,0.50,0.50,1.0,0.50,0.50,...,0.25,0.15,0.40,0.30,0.1,0.00,0.40,6.40,0.063524,0.252039
1,Aluno 2,0.40,0.70,0.70,1.00,0.45,0.45,1.0,0.45,0.45,...,0.46,0.50,0.30,0.50,0.5,0.50,0.50,8.21,0.040035,0.200088
2,Aluno 3,0.30,0.65,0.75,0.80,0.40,0.40,0.9,0.40,0.40,...,0.44,0.40,0.40,0.45,0.4,0.45,0.40,7.39,0.029307,0.171192
3,Aluno 4,0.20,0.60,0.70,0.90,0.45,0.40,0.8,0.50,0.45,...,0.45,0.45,0.45,0.50,0.3,0.40,0.45,7.70,0.025881,0.160876
4,Aluno 5,0.45,0.45,0.75,0.85,0.50,0.50,0.7,0.45,0.50,...,0.50,0.40,0.50,0.50,0.2,0.30,0.50,7.60,0.026381,0.162422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Aluno 120,0.40,0.70,0.70,1.00,0.45,0.45,1.0,0.45,0.45,...,0.46,0.50,0.30,0.50,0.5,0.50,0.50,8.21,0.040035,0.200088
120,Aluno 121,0.30,0.65,0.75,0.80,0.40,0.40,0.9,0.40,0.40,...,0.44,0.40,0.40,0.45,0.4,0.45,0.40,7.39,0.029307,0.171192
121,Aluno 122,0.20,0.60,0.70,0.90,0.45,0.40,0.8,0.50,0.45,...,0.45,0.45,0.45,0.50,0.3,0.40,0.45,7.70,0.025881,0.160876
122,Aluno 123,0.45,0.45,0.75,0.85,0.50,0.50,0.7,0.45,0.50,...,0.50,0.40,0.50,0.50,0.2,0.30,0.50,7.60,0.026381,0.162422
123,Aluno 124,0.50,0.75,0.55,0.75,0.50,0.50,1.0,0.50,0.50,...,0.25,0.15,0.40,0.30,0.1,0.00,0.40,6.40,0.063524,0.252039